/* /home/war/.config/gtk-3.0/gtk.css */
@import "colors.css";

/* Tell the apps that this is a tile based system, so they don't draw their own shadows, removing the weird artefact from the windows */
decoration {
  box-shadow: none;
  margin: 0;
}
.window-frame,
.window-frame:backdrop {
  box-shadow: none;
  margin: 0;
}
