/* GLOBAL STYLES */
* {
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
    font-size: 14px;

    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    background-image: none;
}

window#waybar {
    /* Fully transparent */
    background-color: rgba(0, 0, 0, 0);
}

.modules-left,
.modules-right,
.modules-center {
    color: white;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

/* LEFT MODULES */

.modules-left {
    margin-left: 1rem;
}

/* MIDDLE MODULES */

#clock {
    color: #ffffff;
}

/* RIGHT MODULES */

.modules-right {
    margin-right: 1rem;
}

.modules-right>* {
    margin-right: 0.5rem;
}

.modules-right>*:last-child {
    margin-right: 0;
}

#cpu-module {
    background-color: #ff0000;
    font-size: 40px;
}

#custom-cpu-icon {
    background-color: #ff0000;
    font-size: 40px;
}

#cpu {
    border: 2px solid #6311fc;
    border-radius: 5rem;
    padding: 0 0.5rem;
    background-color: #A886E9;
}

#temperature {
    border: 2px solid #bb0606;
    border-radius: 5rem;
    padding: 0 0.5rem;
    background-color: #d37171;
}

#custom-cpu-fan {
    border: 2px solid rgb(2, 13, 170);
    border-radius: 5rem;
    padding: 0 0.5rem;
    background-color: #618fe6;
    color: #001629;
}

#custom-gpu-usage {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5rem;
    padding: 0 0.5rem;
}

#custom-gpu-temp {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5rem;
    padding: 0 0.5rem;
}

#memory {
    border: 2px solid #14c523;
    border-radius: 5rem;
    padding: 0 0.5rem;
    background-color: #4db456;
}

#pulseaudio {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5rem;
    padding: 0 0.5rem;
}


/* WORKSPACES */

#workspaces {
    background-color: rgba(119, 119, 119, 0.5);
    border-radius: 5rem;
}

#workspaces button {
    padding: 0 5px;
    color: white;
    border-radius: 5rem;
}

#workspaces button:hover {
    background-color: rgb(90, 90, 90);
}

#workspaces button.active {
    background-color: rgb(63, 63, 63);
}

#custom-hardware-cpu,
#custom-hardware-gpu {
    background-color: #363636;
    border-radius: 5rem;
    padding: 0 0.5rem;
}