* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;

    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    border-radius: 0;
}

window#waybar {
    /* Fully transparent */
    background-color: rgba(0, 0, 0, 0)
}

.modules-left,
.modules-right,
.modules-center {
    color: white;
    margin-top: 0.3rem;
}

.modules-left {
    margin-left: 1rem;
}

.modules-right {

    margin-right: 1rem;
}

#clock {
    color: #ffffff;
}

#workspaces {
    background-color: rgba(119, 119, 119, 0.5);
    border-radius: 5rem;
}

#workspaces button {
    padding: 0 5px;
    color: white;
    border-radius: 50%;
}

#workspaces button.active {
    background-color: rgb(63, 63, 63);
}